BEGIN;

-- Running upgrade f2c3f178fd8b -> ae9c5f8aaa97

CREATE INDEX ix_learning_path_courses_course_id ON learning_path_courses (course_id);

ALTER TABLE notifications ADD CONSTRAINT fk_notifications_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE pal_quiz_scores ADD CONSTRAINT fk_pal_quiz_scores_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE SET NULL;

ALTER TABLE pal_quiz_scores ADD CONSTRAINT fk_pal_quiz_scores_course_id FOREIGN KEY(course_id) REFERENCES courses (id) ON DELETE CASCADE;

ALTER TABLE allowed_domains ADD CONSTRAINT fk_allowed_domains_org_id FOREIGN KEY(org_id) REFERENCES organizations (id) ON DELETE CASCADE;

ALTER TABLE password_reset_tokens ADD CONSTRAINT fk_password_reset_tokens_user_id FOREIGN KEY(user_id) REFERENCES users (id) ON DELETE CASCADE;

ALTER TABLE password_reset_tokens ADD CONSTRAINT fk_password_reset_tokens_org_id FOREIGN KEY(org_id) REFERENCES organizations (id) ON DELETE CASCADE;

UPDATE alembic_version SET version_num='ae9c5f8aaa97' WHERE alembic_version.version_num = 'f2c3f178fd8b';

COMMIT;

